p #{info}
p Ingrese email para recuperar password
form(action='/forgotpassword/forgotpassword' method='post')
  div
    label e-mail:
    input(type='text' name='mail')
  div
    input(type='submit' value='Log In')