p #{info}
form(action='/login' method='post')
  div
    label e-mail:
    input(type='text' name='mail')
  div
    label Password:
    input(type='password' name='password')
  div
    input(type='submit' value='Log In')