a(href='/usuarios') Volver
br
h1 Nuevo Usuario
br
form(action='/users/create' method='post')
	.form-group
		label(for='nombre') Nombre:
		input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid':'')
		if errors.nombre	
			small#nombreHelps.text-danger
				= errors.nombre.message
	.form-group
		label(for='email') Email
		input#email(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid':'')
		if errors.email	
			small#nombreHelps.text-danger
				= errors.email.message
	.form-group
		label(for='password') Password
		input#password(type='password' name='password'  class=errors.password ? 'is-invalid':'' )
		if errors.password	
			small#nombreHelps.text-danger
				= errors.password.message
	.form-group
		label(for='passwordconfirm') Password Confirm
		input#passwordconfirm(type='password' name='passwordconfirm' class=errors.passwordconfirm ? 'is-invalid':'')
		if errors.passwordconfirm	
			small#nombreHelps.text-danger
				= errors.passwordconfirm.message
	input.btn.btn-primary(type='submit' value='OK')
